@model MeuProjetoAgora.business.Pedido

@{
    ViewData["Title"] = "Detalhes";
    var fim = Model.Datapedido.AddDays(Model.DiasLiberados);
}

<h1>Detalhes</h1>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class="col-md-12">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-md-12">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class="col-md-12">
            @Html.DisplayNameFor(model => model.DominioTemporario)
        </dt>
        <dd class="col-md-12">
            @Html.DisplayFor(model => model.DominioTemporario)
        </dd>
        <dt class="col-md-12">
            @Html.DisplayName("Data Criação/Renovação")
        </dt>
        <dd class="col-md-12">
            @Html.DisplayFor(model => model.Datapedido)
        </dd>
        <dt class="col-md-12">
            @Html.DisplayName("Prazo para manutenção")
        </dt>
        <dd class="col-md-12">
            <p>@Model.DiasLiberados dias.</p>
        </dd>

        <dt class="col-md-12">
            @Html.DisplayName("Fim do Prazo")
        </dt>
        <dd class="col-md-12">
            @fim
        </dd>

    </dl>
</div>

