@model IEnumerable<MeuProjetoAgora.Models.business.Pedido>

@{
    ViewBag.Title = "Galeria";
}

<h2>Galeria</h2>

<p>
    @Html.ActionLink("Criar novo site", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Servico.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>

        

        <th>
            @Html.DisplayName("Paginas")
        </th>

         <th>
            @Html.DisplayName("Download")
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Servico.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>                     
        
        <td>
            @Html.ActionLink("Paginas", "Galeria", "Pedido", new { id = item.IdPedido }, new { @class = "btn btn-primary" })
        </td>

        <td>
            <a href="/Pedido/Baixar/@item.IdPedido" target="_blank" class="btn btn-warning">baixar paginas</a>
            
        </td>

        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.IdPedido }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.IdPedido }) |
            @Html.ActionLink("Deletar", "Delete", new { id = item.IdPedido })
        </td>
    </tr>
}

</table>
