@model MeuProjetoAgora.business.Background

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Background</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.backgroundImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.backgroundImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.backgroundTransparente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.backgroundTransparente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gradiente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gradiente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Background_Repeat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Background_Repeat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Background_Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Background_Position)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pagina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pagina.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.imagem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.imagem.IdElemento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdBackground" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
