@model IEnumerable<MeuProjetoAgora.business.Div>

<br />
<br />
<br />
<br />
<br />
<br />

<button class="FecharGaleria btn btn-primary">Fechar</button>

@foreach (var item in Model.ToList())
{

    <div class="ClassDiv @item.Divisao" id="DIV@(item.IdDiv)Pagina@(ViewBag.Pagina)">

        @foreach (var elemento in item.Elemento)
        {
        <div id='elemento@(elemento.Elemento.IdElemento)Pagina@(ViewBag.Pagina)' class="Elemento grid-item">

            @if (elemento.Elemento.GetType().Name == "Carousel")
            {
                var carousel = (MeuProjetoAgora.business.Elementos.Carousel)elemento.Elemento;

                <div id='carouselsite@(carousel.IdElemento)' class="carousel" data-ride="carousel">

                    <div class='carousel-inner' role='listbox'>
                        @foreach (var dependente in carousel.Despendentes)
                        {
                            var ele = (MeuProjetoAgora.business.Elementos.Imagem)dependente.ElementoDependente.Dependente;
                            <div class='item'>
                                <img class='img-responsive minhaimg' src='@ele.ArquivoImagem' alt='imagem' style='width:100%;' />
                            </div>
                        }
                    </div>
                </div>
                <div>
                    <script type="text/javascript">
                        $(document).ready(function () {

                            $('.item:first-child').addClass('active@(carousel.IdElemento)').show();

                            setInterval(slide, 5000);

                            function slide() {
                                if ($('.active@(carousel.IdElemento)').next().size()) {
                                    $('.active@(carousel.IdElemento)').fadeOut()
                                    .removeClass('active@(carousel.IdElemento)').next().addClass('active@(carousel.IdElemento)');
                                    $('.active@(carousel.IdElemento)').delay(500).fadeIn();
                                } else {
                                    $('.active@(carousel.IdElemento)').fadeOut().removeClass('active@(carousel.IdElemento)');

                                    $('.item:first-child').delay(500).fadeIn().addClass('active@(carousel.IdElemento)');
                                }
                            }

                        });
                    </script>
                </div>
            }

            @if (elemento.Elemento.GetType().Name == "CarouselPagina")
            {
                var carousel = (MeuProjetoAgora.business.Elementos.CarouselPagina)elemento.Elemento;

                <div id='carouselsite@(carousel.IdElemento)' class="carousel" data-ride="carousel">

                    <div class='carousel-inner' role='listbox'>
                        @foreach (var dependente in carousel.Paginas)
                        {

                            <div id="Page@(dependente.Pagina.IdPagina)" class='item'>

                                @foreach (var div in dependente.Pagina.Div)
                                {
                                    <div id="BlocoCarouselPagina@(div.Div.IdDiv)" class="BlocoCarouselPagina @(div.Div.Divisao)">

                                        @foreach (var el in div.Div.Elemento)
                                        {
                                            if (el.Elemento.GetType().Name == "Video")
                                            {
                                                <div id='VideoCarouselPagina@(el.Elemento.IdElemento)' class='grid-item'>

                                                    <video style='width:100%; height:100%' controls>
                                                        <source src='$el.Elemento.ArquivoVideo' type='video/mp4' />
                                                    </video>

                                                </div>
                                            }

                                            if (el.Elemento.GetType().Name == "Texto")
                                            {
                                                <div id='textoCarouselPagina@(el.Elemento.IdElemento)' class='grid-item'>

                                                    <p>$el.Elemento.PalavrasTexto</p>
                                                </div>
                                            }

                                            if (el.Elemento.GetType().Name == "Link")
                                            {
                                                var link = (MeuProjetoAgora.business.Elementos.Link)el.Elemento;
                                                if (link.UrlLink == false)
                                                {
                                                    var ele = (MeuProjetoAgora.business.Elementos.Texto)link.Despendentes[0].ElementoDependente.Dependente;

                                                    <div id='Link@(link.IdElemento)' class='col-md-2'>
                                                        <a href='/site/@link.Destino.Pedido.DominioTemporario/@link.Destino.Titulo.Replace(" ", "")'> @Html.Raw(ele.PalavrasTexto) </a>

                                                        @if (link.Despendentes.Count > 1)
                                                        {
                                                            var ele2 = (MeuProjetoAgora.business.Elementos.Imagem)link.Despendentes[1].ElementoDependente.Dependente;
                                                            <img class='img-responsive' src='@ele2.ArquivoImagem' alt='imagem' style='width:100%;' />
                                                        }

                                                        <p class="text-center text-primary">@link.IdElemento</p>
                                                        <button data-value='@link.IdElemento' class="EditarElementoGaleria">Editar</button>
                                                    </div>

                                                }
                                                else
                                                {
                                                    var ele = (MeuProjetoAgora.business.Elementos.Texto)link.Despendentes[0].ElementoDependente.Dependente;

                                                    <div id='Link@(link.IdElemento)' class='col-md-2'>
                                                        <a href='@link.TextoLink'>@Html.Raw(ele.PalavrasTexto)</a>
                                                        @if (link.Despendentes.Count > 1)
                                                        {
                                                            var ele2 = (MeuProjetoAgora.business.Elementos.Imagem)link.Despendentes[1].ElementoDependente.Dependente;
                                                            <img class='img-responsive' src='@ele2.ArquivoImagem' alt='imagem' style='width:100%;' />
                                                        }

                                                        <p class="text-center text-primary">@link.IdElemento</p>
                                                        <button data-value='@link.IdElemento' class="EditarElementoGaleria">Editar</button>
                                                    </div>

                                                }

                                            }

                                            if (el.Elemento.GetType().Name == "Imagem")
                                            {
                                                var imagem = (MeuProjetoAgora.business.Elementos.Imagem)el.Elemento;
                                                <div id='ImagemCarouselPagina@(el.Elemento.IdElemento)' class='grid-item'>
                                                    <img class='img-responsive' src='@(imagem.ArquivoImagem)' alt='imagem' style='width:100%;' />
                                                </div>
                                            }

                                            if (el.Elemento.GetType().Name == "Formulario")
                                            {
                                                var formulario = (MeuProjetoAgora.business.Elementos.Formulario)el.Elemento;
                                                <div id='Form@(formulario.IdElemento)' class='col-md-2'>
                                                    <form>

                                                        @foreach (var depe in formulario.Despendentes)
                                                        {
                                                            var campo = (MeuProjetoAgora.business.Elementos.Campo)depe.ElementoDependente.Dependente;
                                                            <input type="@campo.TipoCampo" placeholder="@campo.Placeholder" />
                                                        }

                                                        <button>Salvar</button>

                                                    </form>

                                                    <p class="text-center text-primary">@formulario.IdElemento</p>
                                                    <button data-value='@formulario.IdElemento' class="EditarElementoGaleria">Editar</button>
                                                </div>
                                            }

                                            if (el.Elemento.GetType().Name == "Formulario")
                                            {
                                                var formulario = (MeuProjetoAgora.business.Elementos.Formulario)el.Elemento;
                                                <div id='Form@(formulario.IdElemento)' class='col-md-2'>
                                                    <form>

                                                        @foreach (var depe in formulario.Despendentes)
                                                        {
                                                            var campo = (MeuProjetoAgora.business.Elementos.Campo)depe.ElementoDependente.Dependente;
                                                            <input type="@campo.TipoCampo" placeholder="@campo.Placeholder" />
                                                        }

                                                        <button>Salvar</button>

                                                    </form>

                                                    <p class="text-center text-primary">@formulario.IdElemento</p>
                                                    <button data-value='@formulario.IdElemento' class="EditarElementoGaleria">Editar</button>
                                                </div>
                                            }
                                        }

                                    </div>
                                }

                            </div>
                        }
                    </div>
                </div>
                <div>
                    <script type="text/javascript">
                        $(document).ready(function () {

                            $('.item:first-child').addClass('active@(carousel.IdElemento)').show();

                            setInterval(slide, 5000);

                            function slide() {
                                if ($('.active@(carousel.IdElemento)').next().size()) {
                                    $('.active@(carousel.IdElemento)').fadeOut()
                                    .removeClass('active@(carousel.IdElemento)').next().addClass('active@(carousel.IdElemento)');
                                    $('.active@(carousel.IdElemento)').delay(500).fadeIn();
                                } else {
                                    $('.active@(carousel.IdElemento)').fadeOut().removeClass('active@(carousel.IdElemento)');

                                    $('.item:first-child').delay(500).fadeIn().addClass('active@(carousel.IdElemento)');
                                }
                            }

                        });
                    </script>
                </div>
            }

            @if (elemento.Elemento.GetType().Name == "Video")
            {
                var video = (MeuProjetoAgora.business.Elementos.Video)elemento.Elemento;
                <div id='Video@(video.IdElemento)'>

                    <video style='width:100%; height:100%' controls>
                        <source src='@video.ArquivoVideo' type='video/mp4' />
                    </video>


                </div>
            }

            @if (elemento.Elemento.GetType().Name == "Imagem")
            {
                var imagem = (MeuProjetoAgora.business.Elementos.Imagem)elemento.Elemento;
                <div id='Imagem@(imagem.IdElemento)'>
                    <img class='img-responsive' src='@imagem.ArquivoImagem' alt='imagem' style='width:100%;' />


                </div>
            }

            @if (elemento.Elemento.GetType().Name == "Link")
            {
                var link = (MeuProjetoAgora.business.Elementos.Link)elemento.Elemento;
                if (link.UrlLink == false)
                {
                    var ele = (MeuProjetoAgora.business.Elementos.Texto)link.Despendentes[0].ElementoDependente.Dependente;

                    <div id='Link@(link.IdElemento)'>
                        <a href='#'> @Html.Raw(ele.PalavrasTexto) </a>

                        @if (link.Despendentes.Count > 1)
                        {
                            var ele2 = (MeuProjetoAgora.business.Elementos.Imagem)link.Despendentes[1].ElementoDependente.Dependente;
                            <img class='img-responsive' src='@ele2.ArquivoImagem' alt='imagem' style='width:100%;' />
                        }

                    </div>

                }
                else
                {
                    var ele = (MeuProjetoAgora.business.Elementos.Texto)link.Despendentes[0].ElementoDependente.Dependente;

                    <div id='Link@(link.IdElemento)'>
                        <a href='@link.TextoLink'>@Html.Raw(ele.PalavrasTexto)</a>
                        @if (link.Despendentes.Count > 1)
                        {
                            var ele2 = (MeuProjetoAgora.business.Elementos.Imagem)link.Despendentes[1].ElementoDependente.Dependente;
                            <img class='img-responsive' src='@ele2.ArquivoImagem' alt='imagem' style='width:100%;' />
                        }

                    </div>

                }
            }
            @if (elemento.Elemento.GetType().Name == "Texto")
            {
                var texto = (MeuProjetoAgora.business.Elementos.Texto)elemento.Elemento;
                <div id='texto@(texto.IdElemento)'>

                    @Html.Raw(texto.PalavrasTexto)

                </div>
            }
            @if (elemento.Elemento.GetType().Name == "Formulario")
            {
                var formulario = (MeuProjetoAgora.business.Elementos.Formulario)elemento.Elemento;
                
                <div id='Form@(formulario.IdElemento)' class='col-md-2'>
                    <form>

                        @foreach (var depe in formulario.Despendentes)
                        {
                            var campo = (MeuProjetoAgora.business.Elementos.Campo)depe.ElementoDependente.Dependente;
                            <input type="@campo.TipoCampo" placeholder="@campo.Placeholder" />
                        }

                        <button>Salvar</button>

                    </form>                     
                </div>
            }
            @if (elemento.Elemento.GetType().Name == "Table")
            {
                var table = (MeuProjetoAgora.business.Elementos.Table)elemento.Elemento;
                <div id='Table@(table.IdElemento)'>

                    <table class='@table.EstiloTabela'>

                        <tr>
                            <th>
                                <label>Nome</label>
                            </th>
                            <th>
                                <label>Imagem</label>
                            </th>
                            <th></th>

                        </tr>

                        @foreach (var prod in table.Despendentes)
                        {

                            var ele = (MeuProjetoAgora.business.Elementos.Produto)prod.ElementoDependente.Dependente;
                            <tr class='linhaProduto' id='Produto$prod.ElementoDependente.Dependente.IdElemento' data-value='$prod.ElementoDependente.Dependente.IdElemento'>
                                <th>
                                    <label>@ele.Nome</label>
                                </th>

                                @{
                                    var ele2 = (MeuProjetoAgora.business.Elementos.Imagem)ele.Despendentes[0].ElementoDependente.Dependente;
                                }
                                <th>
                                    <img src='@ele2.ArquivoImagem' width='100' />

                                </th>

                                <th>
                                    <a href='#' data-value='@(ele.IdElemento)' class='btn btn-danger botaoDetalhes'>  Detalhes </a>
                                    <a href='#' data-value='@(ele.IdElemento)' class='btn btn-success botaoAdicionarCarrinho'> Adicionar ao carrinho </a>
                                </th>
                            </tr>
                        }

                    </table>

                </div>
            }

        </div>
        }

    </div>

    <p class="text-center text-primary">BlocoID: @item.IdDiv</p>
    <a href="#" class="EditarBlocoGaleria btn btn-warning" data-value="@item.IdDiv">Editar bloco</a>
}

<button class="FecharGaleria btn btn-primary">Fechar</button>

<div>
    <script type="text/javascript">
        $(document).ready(function () {

            var el = $(".ClassDiv");

            $(".FecharGaleria").click(function () {
                $("#FormTexto, #estrutura, #Permissao, #Galeria, #GaleriaBlocos").fadeOut("slow");
                $("#estrutura").fadeIn("slow");
            });

            $(".EditarBlocoGaleria").click(function () {
                $("#FormTexto, #estrutura, #Permissao, #Galeria, #GaleriaBlocos").fadeOut("slow");
                $("#estrutura").fadeIn("slow");
                $("#conteudomodal").load("/Elemento/EditDiv/" + $(this).data("value"));
            });

            el.mouseover(function () {

                z = event.target;
                y = event.target;
                x = event.target.className;

                if (x !== "") {
                    y = z;

                    if (y.tagName === "DIV" && x.includes(substring)) {
                        $(".Elemento").css("border", "none");

                    }

                    while (y !== null && !x.includes("content")) {

                        if (y.className === "Elemento grid-item") {
                            $(".Elemento").css("border", "none");
                            var valor = y.id.replace("elemento", "").replace("Pagina" + numero, "");
                            $(".Elemento" + valor).css("display", "block");
                            $(".Elemento" + valor).css("border", "ridge");
                            $(".Elemento" + valor).css("border-width", "2px");
                            $("#ElementoId").load("/Pagina/IdentificacaoElemento?elemento=" + valor);
                            break;
                        }


                        if (y.tagName === "DIV") {
                            var arr = x.split(" ");

                            for (var i = 0; i <= arr.length; i++) {
                                if (arr[i] === "ClassDiv") {
                                    $(".ClassDiv").css("border", "none");
                                    valor = y.id.replace("DIV", "").replace("Pagina" + numero, "");
                                    $("#" + y.id).css("display", "block");
                                    $("#" + y.id).css("border", "ridge");
                                    $("#" + y.id).css("border-width", "10px");
                                    $("#Bloco").load("/Pagina/IdentificacaoBloco?div=" + valor);
                                    $("#QuantidadeElementos").load("/Pagina/QuantidadeBloco?div=" + valor);
                                }
                            }

                            break;
                        }

                        y = y.parentElement;

                    }

                }

            });

        });
    </script>
</div>

